/* mulish-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v12-cyrillic_latin/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* mulish-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/mulish-v12-cyrillic_latin/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* mulish-900 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/mulish-v12-cyrillic_latin/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 18px;
    background-color: #F8E8E2;
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    color: #000000;
}

button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, fieldset {
    margin: 0;
}

.container {
    --width: 1180px;
    --padding: 30px;
    max-width: calc(var(--width) + (var(--padding) * 2));
    margin: 0 auto;
    padding-right: var(--padding);
    padding-left: var(--padding);
}

.btn {
    color: #ffffff;    
    padding: 12px 28px;
    border-radius: 40px;
    background-color: #F44;
    box-shadow: 0px 4px 20px 0px #FA5A5A;
}

.text-red {
    color: #f44;
}

/* HEADER */

.header {
    padding-top: 36px;
    padding-bottom: 36px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btns {
    display: flex;
    align-items: center;
}
.header__btn-order {
    margin-right: 32px;
    width: 24px;
    height: 24px;
}
.header__btn {
    display: block;
}

/* HERO SECTION */

.hero {
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 85px;
}
.hero__title {
    font-size: 84px;
    font-weight: 900;
    max-width: 880px;
}

.hero__cups {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding-top: 270px;
}
.hero__cup {
    position: relative;
    width: 100%;
    border-radius: 24px;
    aspect-ratio: 1/1;
}
.hero__cup_pink {
    background-color: #ff196c;
}
.hero__cup_orange {
    background-color: #ffb72a;
    align-self: flex-start;
    margin-top: -70px;
}
.hero__cup_green {
    background-color: #34b905;
}
.hero__img {
    position: absolute;
    width: 55%;
    left: 50%;
    bottom: 13%;
    transform: translateX(-50%);
}

/* GOODS SECTION */
.goods {
    padding-top: 60px;
    padding-bottom: 70px;
}
.goods__title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 40px;
}
.goods__list {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 20px;
}

.coctail {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 32px;
    padding: 12px;
    height: 100%;
}
.coctail__img {
    width: 100%;
    border-radius: 24px;
}
.coctail__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.coctail__text {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 10px;
    gap: 2px 5px;    
}
.coctail__title {
    grid-row: 1/3;
    font-size: inherit;
    font-weight: 400;
}
.coctail__price {
    font-weight: 600;
    text-align: end;
}
.coctail__size {
    flex: 0 0 100%;
    font-size: 12px;
    font-weight: 600;
    color: #c1c1c1;
    text-align: right;
}
.coctail__btn {
    margin-top: auto;
}
/* FOOTER */

.footer {
    padding: 30px 0 32px;
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    grid-template-areas: 
        'logo .'
        'copyright developer'
    ;
}
.footer__logo {
    grid-area: logo;
}
.footer__copyright {
    grid-area: copyright;
}
.footer__developer {
    grid-area: developer;
    justify-self: end;
    min-width: 230px;
}
.footer__developer-item {
    margin-bottom: 10px;
}
.footer__developer-item:last-child {
    margin-bottom: 0;
}
.footer__developer-link {

}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 20px;
    overflow-y: auto;
    display: none;
}

.modal__main {
    margin: auto;
    cursor: default;
    width: 100%;
}

.modal__main_order {
    max-width: 780px;
}

.modal__main_make {
    max-width: 640px;
}

.order {
    border-radius: 24px;
    background-color: #F8E8E2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 60px 40px;
}
.order__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 110%;
    margin-bottom: 40px;
}

.order__count {

}

.order__list {
    margin-bottom: 40px;
}

.order__item {
    border-top: 1px solid #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: 70px 1fr min-content;
    gap: 12px;
    grid-template-areas: 
        "image info delete"
        "image info price"
    ;
}
.order__item:last-child {
    border-bottom: 1px solid #FFFFFF;
}

.order__img {
    grid-area: image;
    max-width: 100%;
}

.order__info {
    grid-area: info;
}

.order__name {
    font-weight: 400;
    font-size: inherit;
    margin-bottom: 8px;
}

.order__topping-list {

}

.order__topping-item {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
    color: #D5B4A8;
}
.order__topping-item:last-child {
    margin-bottom: 0;
}
.order__item-delete {
    width: 24px;
    height: 24px;
    grid-area: delete;
    background-image: url(../images/clarity_close-line.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-self: end;
}
.order__item-price {
    grid-area: price;
    justify-self: end;
    align-self: end;
}
.order__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}
.order__price-title {
    font-weight: 600;
}
.order__total-price {
    font-weight: 600;
}
.order__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 32px;
}
.order__label {
    width: 100%;
}
.order__input {
    width: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    height: 44px;
    padding: 0 16px;
    border: none;
}
.order__submit {
    justify-self: end;
    grid-column: 2/3;
}

.modal_make {

}

.make {
    border-radius: 24px;
    background-color: #F8E8E2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 60px 40px;

}
.make__title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 40px;
}

.make__form {
    display: flex;
    flex-direction: column;
}
.make__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
.make__fieldset_ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 55px;
    margin-bottom: 32px;
}

.make__wrap-add {
    margin-bottom: 40px;
    display: flex;
    gap: 55px;
}

.checkbox {
    position: relative;
    display: block;
    padding-left: 32px;
    line-height: 24px;
    cursor: pointer;
}

.checkbox__input {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    margin-left: -32px;
}
.checkbox__input::before {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    border-radius: 2px;
    background-color: #FFFFFF;
    transition: background-color .3s ease-in-out;
}
.checkbox__input::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 15px;
    background-image: url("../images/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.checkbox__input:checked::after {
    opacity: 1;
}
.checkbox__input:hover::before {
    background-color: #F6F6F6;
}
.checkbox__input:focus::before {
    border: 1px solid #D5B4A8;
}
.checkbox__input:focus-visible {
    outline: none;
}

.make__fieldset_topping {
    display: grid;
    width: 150px;
    grid-template-columns: 1fr;
    gap: 20px;
}
.make__legend {
    color:#D5B4A8;
    margin-bottom: 24px;
}

.make__upsale {
    color:  #D5B4A8;
    font-size: 12px;
}

.make__fieldset_cup {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.radio {

}

.radio__input {

}
.make__footer {
    display: flex;
    align-items: center;
    gap: 30px;
}

.make__add-btn {
    min-width: 232px;
}

.make__total_price {
    font-weight: 600;
}
.make__total_size {
    color:  #D5B4A8;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}

/* @MEDIA */

@media (max-width:1240px) {
    body {
        background-image: url(../images/bg-laptop.png);
    }
    .container {
        --width: 880px;
    }
    .hero {
        padding-bottom: 30px;
    }
    .hero__title {
        max-width: 680px;
        font-size: 64px;
    }
    .hero__cups {
        padding-top: 216px;
    }
    .hero__cup_orange {
        margin-top: -50px;
    }

    .goods__list {
        grid-template-columns: repeat(3, 280px);
    }
}

@media (max-width: 940px) {
    body {
        background-image: url(../images/bg-tablet.png);
        font-size: 14px;
    }
    .container {
        --width: 608px;
        --padding: 15px;
    }
    .header {
        padding-top: 34px;
        padding-bottom: 20px;
    }
    .btn {
        padding: 8 20px;
        box-shadow: 0px 2px 10px 0px #FA5A5A;
    }
    .header__btn-order {
        margin-right: 24px;
    }
    .hero {
        padding-bottom: 46px;
    }
    .hero__title {
        font-size: 44px;
        max-width: 468px;
    }
    .hero__cups {
        padding-top: 112px;
        gap: 13px;
    }
    .hero__cup {
        border-radius: 12px;
    }
    .hero__img {
        bottom: 10%;
    }
    .goods {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .goods__title {
        margin-bottom: 16px;
        font-size: 24px;
    }
    .goods__list {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 16px;
    }
    .coctail {
        border-radius: 12px;
        padding: 8px;
    }
    .coctail__img {
        border-radius: 12px;
        margin-bottom: 8px;
    }
    .coctail__content {
        padding: 0;
    }
    .coctail__text {
        row-gap: 8px;
        margin-bottom: 16px;
    }
    .coctail__title {
        flex: 0 0 100%;
    }
    .coctail__size {
        flex: auto;
        font-size: 10px;
    }

    .footer {
        padding-bottom: 24px;
    }
    .footer__container {
        gap: 24px;
    }
    .footer__developer-item {
        margin-bottom: 6px;
    }
}

@media (max-width: 640px) {
    body {
        background-image: url(../images/bg-mobile.png);
    }
    .header {
        padding-top: 31px;
        padding-bottom: 31px;
    }
    .header__logo {
        width: 120px;
    }
    .header__btn {
        display: none;
    }
    .header__btn-order {
        margin-right: 0;
    }
    .hero {
        padding-top: 0;
        padding-bottom: 120px;
    }
    .hero__title {
        font-size: 36px;
    }
    .hero__cups {
        display: none;
    }
    .goods {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .goods__list {
        gap: 10px;
    }
    .footer__logo {
        width: 120px;
    }
    .footer__container {
        grid-template-areas: 'logo' 'copyright' 'developer';
        gap: 20px;
    }
}


